html {
    color: white;
    font-family: sans-serif;
}

p {
    font-size: 110%;
}

a:link {
    color: white;
}

a:visited {
    color: gainsboro;
}

a.image {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

img.screenshot {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

hr {
    height: 2px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    background-color: white;
}

ul.grid {
    column-gap: 24px;
}

iframe {
    width: 100%;
    height: 100%;

    border: none;

    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

body {
    margin: 12px;
    background-image: url("assets/background.svg");
    text-shadow: 1px 0 gray, 0 1px gray, -1px 0 gray, 0 -1px gray;
}

header {
    margin: 12px;
}

div.main_body, div.play_body, footer {
    border-bottom: 4px solid;

    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

div.main_body, div.play_body {
    max-width: 960px;
    margin: auto;
}

div.main_body {
    background-color: rgb(71, 173, 214);
    border-color: rgb(41, 120, 152);
}

div.play_body {
    background-color: rgb(93, 178, 132);
    border-color: rgb(74, 133, 101);
}

div.game_container {
    width: 100%;
    display: inline-block;
    position: relative;
}

div.game_container:after {
    padding-top: 60%;
    display: block;
    content: '';
}

div.game {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

nav {
    font-size: 150%;
    font-weight: bold;

    background-color: rgb(41, 120, 152);
}

nav ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    background-color: rgb(59, 135, 165);
}

nav a:link, nav a:visited {
    color: white;
}

nav a.active {
    padding-bottom: 11px;

    background-color: rgb(71, 173, 214);
}

nav a.play {
    background-color: rgb(74, 133, 101);
}

nav a.play_active {
    padding-bottom: 11px;

    background-color: rgb(93, 178, 132);
}

main, footer {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 26px;
    padding-right: 26px;
    margin: auto;
}

footer {
    max-width: 908px;

    background-color: rgb(52, 124, 137);
    border-color: rgb(52, 101, 110);
    margin-top: 12px;
}

.decorated_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}

@media (min-width: 900px) {
    body {
        background-image: url("assets/decoration_left.png"), url("assets/decoration_right.png"), url("assets/background.svg");
        background-position: left top, right top, left top;
        background-repeat: repeat-y, repeat-y, repeat;
    }
}

@media (max-width: 750px) {
    nav {
        padding-top: 12px;
        padding-bottom: 6px;
        padding-left: 16px;
        padding-right: 16px;

        background-color: transparent;
    }

    nav ul {
        display: grid;
        grid-template-columns: auto auto;
        gap: 12px;
    }

    nav a {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 2px solid rgb(41, 120, 152);

        background-color: rgb(71, 173, 214);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    nav a.active {
        border-bottom: 1px solid rgb(33, 89, 112);

        background-color: rgb(41, 120, 152);
    }

    nav a.play {
        border-bottom: 2px solid rgb(74, 133, 101);

        background-color: rgb(93, 178, 132);
    }

    nav a.play_active {
        border-bottom: 1px solid rgb(50, 97, 72);

        background-color: rgb(74, 133, 101);
    }

    .grid {
        grid-template-columns: auto;
    }
}
